/* UNIVERSAL */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: powderblue;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* HOME */
.home h1,
.home #todo-text,
.home #todos-left {
  text-align: center;
}
.home #todo-text {
  cursor: move;
}
.home input,
.home button {
  display: block;
  margin: auto;
}

/* CALENDAR */
.calendar h1 {
  text-align: center;
}

/* INFO */
.info h1,
.info p {
  text-align: center;
}

/* NAVIGATION */
.navigation nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: blueviolet;
}
.navigation .navigation-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 50%;
}

/* TODOLIST */
.todoList ul {
  list-style-type: none;
  text-align: center;
}

/* DRAGGABLELIST */
.draggableList ul {
  list-style-type: none;
  text-align: center;
}
